
.body{
  margin: 0%;
}

.heading{
  text-align: center;
  margin-left: 350px;
  
}
.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
  margin-bottom: 35px;
  
  
}
.label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}
input[type=text],[type=email],[type=number],[type=password], select, textarea{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
@media screen and (max-width: 1042px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

.SidebarList{
  background-color: #DFDFDF;
  padding: 0%;
  height: 100%;

}

.SidebarList.row{
  height: 100%;
  background-color: aqua;
  border: 10%;
}



.Sidebar{
  color: black;
    height: 150vh;
    width: 200px;
    background-color: #DFDFDF;
    display: flex;
    flex-direction: row;
  }
  


.Form{

    background: rgb(255, 255, 255);
    display:flex;
    flex-direction: column;
    margin-top: 100px;
  
      /* float: right; */
      /* margin-left: 50px; */
      /* padding-right: 300px; */
  }

.MainContainer{
  display: flex;
  margin-top: 40px;
  

}

.materialForm{
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-left: 450px;
  display: flex;
 
  

}

.submitButton{
  background-color: rgb(4, 255, 4);
}