.AdminHomePage{
    color: blue;
}


.Delete{
    margin-left: 400px;
    margin-top: 150px;
}





.centerContainer{
    /* align-items: center; */
    margin-left: 250px;
    margin-top: 150px;
}


